body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('img/bg-contacto.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(194, 173, 173);
    position: relative; 
    text-align: center; 
}

.container h2 {
    text-align: center;
}

.container p {
    text-align: center;
}

.formulario {
    margin-bottom: 15px;
}

.formulario label {
    font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario select,
.formulario textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.formulario textarea {
    height: 100px;
    resize: vertical;
}

.btn-enviar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #45a049;
}
